.competency-pod {
  @include border-radius(6px);
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: $baseline;
  padding: $baseline $baseline $baseline*4;
  position: relative;
  .competency-details {
    @include clear;
  }
  img {
    background-color: #999;
    float: left;
    height: $baseline*4;
    margin-right: $baseline;
    width: $baseline*4;
  }
  h3 {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
  }
  .status-bar {
    margin-right: 48px;
    margin-top: $baseline;
    margin-bottom: $sub-baseline;
  }
  footer {
    background-color: #ccc;
    height: $baseline*3;
    padding: 0 $baseline;
    position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    .status-bar {
      margin: 0;
      position: absolute;
        top: $baseline;
        right: $baseline*3;
        left: $baseline*8;
    }
    .toggle-competencies {
      color: #666;
      display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
      text-decoration: none;
      margin-top: $baseline;
    }
  }
}
.competency-pod-blank {
  background-color: #ccc;
  border: 1px solid #ccc;
  font-size: 1.6rem;
  margin-bottom: $baseline;
  padding: $baseline $baseline $baseline*4;
  position: relative;
  text-align: center;
}

.button, .button-small {
  @include border-radius($sub-baseline);
  background-color: #333;
  color: #ccc;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: $sub-baseline*1.5;
  padding: $sub-baseline*2 $sub-baseline*4;
  text-decoration: none;
}
.button-small {
  padding: $sub-baseline $sub-baseline*2
}

.competency-list {
  background-color: lighten(#eee, 5%);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  clear: both;
  display: none;
  list-style: none;
  margin: 0 -$baseline;
  margin-top: $baseline;
  padding: 0;
  li {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    position: relative;
    .button-small{
      @include transition(all, 250ms);
    }
    &:hover {
      background-color: #eee;
      .button-small {
        left: auto;
        right: $baseline;
      }
    }
  }
  .competency-link {
    color: #333;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: $sub-baseline*2 $baseline;
    text-decoration: none;
  }
  .button-small {
    position: absolute;
      top: -3px;
      right: -$baseline*10;
  }
}
