#top-bar {
  background-color: #333;
  color: #efefef;
  height: $baseline*3;
  line-height: $baseline*3;
  padding: 0 $baseline 0 $baseline*9;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-fixed;
  h1 {
    float: left;
    margin: 0;
    padding: 0;
  }
  #side-nav-control {
    background-color: #666;
    height: $baseline*2;
    position: absolute;
      top: $sub-baseline*1.5;
      left: $baseline;
    width: $baseline*2;
    &:after {
      border-right: 1px dotted #666;
      content: "";
      display: block;
      position: absolute;
        top: 0;
        right: -$baseline;
        bottom: 0;
    }
  }
  #search-control {
    background-color: #666;
    height: $baseline*2;
    position: absolute;
      top: $sub-baseline*1.5;
      left: $baseline*5;
    width: $baseline*2;
    &:after {
      border-right: 1px dotted #666;
      content: "";
      display: block;
      position: absolute;
        top: 0;
        right: -$baseline;
        bottom: 0;
    }
  }
  ul {
    float: right;
    font-size: 1.2rem;
    line-height: $baseline*2;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
      top: $sub-baseline*1.5;
      right: $baseline;
      bottom: $sub-baseline*1.5;
  }
  li {
    border-left: 1px dotted #333;
    float: left;
    margin-left: $sub-baseline*2;
    padding-left: $sub-baseline*2;
    position: relative;
    &:first-child {
      border: 0;
      margin: 0;
      padding: 0;
    }
    a {
      color: #ccc;
      display: block;
      text-decoration: none;
    }
    &.profile a{
      padding-left: $baseline*2.5;
    }
    img {
      @include border-radius(60px);
      background-color: #ccc;
      height: $baseline*2;
      position: absolute;
        top: 0;
        left: $sub-baseline*2;
      width: $baseline*2;
    }
    &.alerts {
      span {
        @include border-radius($sub-baseline/2);
        background-color: #ccc;
        color: #fff;
        font-size: .5em;
        padding: $sub-baseline/2 $sub-baseline;
      }
    }
  }
}
