#search {
  background-color: #ccc;
  padding: $baseline*2;
  position: absolute;
    top: $baseline*3;
    left: 0;
    right: 0;
  z-index: 1001;
  &[data-active="false"] {
    display: none;
  }
  &[data-active="true"] {
    display: block;
  }
  h2 {
    font-size: 3em;
    margin: 0 0 $sub-baseline;
  }
  input[type="search"] {
    @include border-radius(0);
    border: 1px solid #666;
    font-size: 1.5em;
    padding: $baseline;
    width: 80%;
  }
  button {
    background-color: #333;
    border: 1px solid #333;
    color: #efefef;
    margin-left: $baseline;
    padding: $baseline $baseline*2;
    font-size: 1.5em;
  }
}
