// ----------------------------------------------------------------
// The global file concatenates a series of normalize files,
// variables, and modules so we can service as few CSS files to
// the browser as possible.
// ----------------------------------------------------------------

// Setup
// ----------------------------------------------------------------
@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/utilities";

// Normalize elements
// ----------------------------------------------------------------
@import "base/root";
@import "base/grid";
@import "base/code";
@import "base/emphasis";
@import "base/fonts";
@import "base/forms";
@import "base/headings";
@import "base/html5";
@import "base/images";
@import "base/links";
@import "base/lists";
@import "base/misc";
@import "base/mixins";
@import "base/paragraphs";
@import "base/quotes";
@import "base/tables";

// Modules
// ----------------------------------------------------------------
@import "modules/header-top-nav";
@import "modules/side-nav";
@import "modules/competency-pods";
@import "modules/status-bar";
@import "modules/search";

// To be moved into modules/partials

// Content
// ----------------------------------------------------------------
#content {
  @include container;
  @include clear;
  background-color: #efefef;
  max-width: 100%;
  padding-top: $baseline*3;
  position: relative;
  z-index: $z-index-fixed;
  min-height: 100%;
}

// Onboarding
// ----------------------------------------------------------------
#onboarding {
  .intro {
    border-bottom: 1px solid #ccc;
    margin: 0 auto $baseline*3;
    padding: $baseline*5 0;
    max-width: 800px;
    text-align: center;
    p {
      font-size: 2em;
    }
  }
  h2 {
    font-size: 5em;
    margin: 0;
  }
  .onboarding-steps {
    font-size: 2em;
    list-style: none;
    margin: 0 auto;
    max-width: 600px;
    padding: $baseline*2 0 $baseline*2 $baseline*4;
    li {
      margin: $baseline*2 0;
      position: relative;
      &:before {
        @include border-radius(50px);
        background-color: #ccc;
        content: "";
        height: $baseline*4;
        position: absolute;
          top: 0;
          left: -$baseline*4.5;
        width: $baseline*4;
      }
    }
  }
}
